* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 10px;
    flex-grow: 1;
}

/*Encabezado - Header*/
header {
    background-color: #023047;
    color: white;
    padding: 0 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.401);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoHeader {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logoHeader img {
    height: 70px;
    margin-left: 20px;
    margin-top: 5px;
}

.logoHeader img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;

}

header nav {
    margin-right: 15px;
}


header nav a {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s ease;

}

header nav a:hover {
    color: #e87a00;
    transition: 0.3s ease;
    font-size: 18px;
}

/*Contenido - Main*/
.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content .item {
    flex-grow: 1;
    padding: 10px;
}

.info {
    margin: 0 10% 0 10%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoU img {
    height: 200px;
    transition: 0.3s ease;
    margin: 30px;
}

.logoU img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.info .desc {
    font-size: 18px;
    color: #333;        
    text-align: justify;
}

.list {
    text-align: left;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.list li {
    margin-bottom: 8px;
}

.li-b {
    font-weight:600;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 320px;
    height: 500px;

}

.imageContainer {
    position: relative;
}

.images .imageContainer img {
    width: 100%;
    border-radius: 8px;
}

.images .imageContainer .firstImage {
    width: 400px;
    height: 400px;
    position: relative;
    left: 50px;
    bottom: 50px;
    z-index: 2;
    transition: 0.3s ease;
}

.images .imageContainer .firstImage:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.images .imageContainer .secondImage {
    position: relative;
    right: 50px;
    top: 50px;
    width: 400px;
    height: 400px;
    transition: 0.3s ease;
}

.images .imageContainer .secondImage:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

footer {
    background-color: #023047;
    color: white;
    text-align: center;
    padding: 10px;

}




.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 10% 20px 10%;
    flex-wrap: wrap;
    max-width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border: 1px solid #023047;
    box-shadow: 2px 2px 8px 4px #0325364d;
    border-radius: 15px;
    font-family: sans-serif;
}

.titlecard {
    font-size: 20px;
    padding: 10px;
}

.bodycard {
    padding: 10px;
}

.bodycard img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.footercard {
    background: #023047;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.footercard a {
    text-decoration: none;
    color: white;
}






/*Media query para un telefono*/
@media (max-width: 1340px) {
    .content {
        flex-direction: column;

    }

    .images {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .images .imageContainer .firstImage,
    .images .imageContainer .secondImage {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80%;
        height: auto;
        margin: 10px auto;
    }
}